<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{{ site.url }}/assets/bootstrap-italia/dist/css/bootstrap-italia.min.css">
  <script src="https://unpkg.com/netlify-cms@latest/dist/netlify-cms.js"></script>

<!-- Main styles -->
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<link rel="stylesheet" type="text/css" href="{{ site.url }}/style.css" />
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/style.css" />
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/stylex.css" />

<style>
  .logo_scuola {
    max-width: 100%;
    height: auto;
  }
  .sezione-notizie .card-wrapper {
    margin-bottom: 1.5rem;
  }
  .primavisione-web img {
    width: 150px;
    height: auto;
  }
  @media (max-width: 768px) {
    .header-slim-right-zone {
      text-align: center;
      margin-top: 1rem;
    }
    .navbar-nav {
      flex-direction: column;
    }
  }
</style>
