<style>
#access-modal .modal-dialog {
  width: 75%;
  height: 90%;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra perfettamente */
}

#access-modal .modal-content {
  height: 100%;
  border-radius: 50%;
}
</style>

<header class="it-header-wrapper">
  <div class="it-header-slim-wrapper">
  <div class="container">
  <div class="row">
  <div class="col-12">
  <div class="it-header-slim-wrapper-content">
  <div class="nav-mobile">
   
  <a href="https://www.gabrieljones.it/" target="_blank"><b>Gabriel Jones</b></a>
  
  
  </div>
  <!-- Sezione Autenticazione / Scelta Lingua -->
  <div class="header-slim-right-zone">
  <!-- multilang space -->
  
  <div class="it-access-top-wrapper">

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#access-modal">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z"/></svg>
  
                  <span class="mr-2">Accedi</span>
                  <div class="icon-wrapper">
                </div></button>
  
  
  </div>
  </div>
  
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="it-nav-wrapper">
  <div class="it-header-center-wrapper">
  <div class="container">
  <div class="row">
  <div class="col-12">
  <div class="it-header-center-content-wrapper">
  <div class="it-brand-wrapper">
  <a href="/" title="Torna alla homepage">
  
  <h1>
  <span class="media">
  <img class="align-self-center logo_scuola" src="https://u.g.18f.it/assets/img/logo.png" alt="logo">
  
  <span class="media-body ml-2 text-truncate">
  <span class="testo_t3"><b>Gabriel Jones;</b></span>
  <span class="testo_t1"><b>Arena Giovani</b></span>
  <span class="testo_t3"><b>Uniti per il futuro</b></span>
  </span>
  
  
  </span>
  </h1>
  
  
  </a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  <div class="it-header-navbar-wrapper">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <!--start nav-->
          <nav class="navbar navbar-expand-lg" aria-label="Navigazione principale">
            <button class="custom-navbar-toggler" type="button" aria-controls="nav0" aria-expanded="false" aria-label="Mostra/Nascondi la navigazione" data-bs-toggle="navbarcollapsible" data-bs-target="#nav0">
              <svg class="icon bg-override"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-burger"></use></svg>
            </button>
            <div class="navbar-collapsable" id="nav0" style="display: none;">
              <div class="overlay" style="display: none;"></div>
              <div class="close-div">
                <button class="btn close-menu" type="button">
                  <span class="visually-hidden">Nascondi la navigazione</span>
                  <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-close-big"></use></svg>
                </button>
              </div>
  
  
  
  <div id="navigation-bar" class="it-header-navbar-wrapper">
  <div class="container">
  <div class="row">
  <div class="col-12">
  <nav class="navbar navbar-expand-lg has-megamenu" aria-label="Menu principale">
              <div class="menu-wrapper">
                <ul class="navbar-nav">
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/aree-amministrative/uffici/cultura/"><span><b>Cultura</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/aree-amministrative/uffici/pariopportunita/"><span><b>Integrazione sociale e uguaglianza</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/aree-amministrative/uffici/sport/"><span><b>Sport</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/persone/"><span><b>Persone</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/sulprogetto/"><span><b>Sul Progetto</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/aree-amministrative/uffici/"><span><b>Uffici</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/aree-amministrative/"><span><b>Aree</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/aree-amministrative/uffici/associazioni"><span><b>Associazioni</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/aree-amministrative/uffici/cultura/biblioteca/"><span><b>Biblioteca</b></span></a></li>
                </ul>
              </div>
  
  </nav>
  </div>
  </div>
  </div>
  </div>
  
  
                
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
  
  
      
  </div></header>







<div class="modal fade" id="access-modal" tabindex="-1" role="dialog" aria-labelledby="accessModal" aria-hidden="false">
  <div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content perfect-scrollbar ps-container ps-theme-default" data-ps-id="38e2ecb0-43ab-3c74-f1b1-557dd702a6c4">
<div class="sidebar-wrapper theme-dark">
  <h3>Header</h3>
  <div class="sidebar-linklist-wrapper">
    <div class="link-list-wrapper">
      <ul class="link-list">        
        <li>
          <a class="list-item large medium right-icon active" href="#collapseFour" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            <span class="list-item-title-icon-wrapper">
              <span>Link lista 1 (selezionato)</span><svg class="icon icon-sm icon-white right" aria-hidden="true"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use></svg>
            </span>
          </a>
          <ul class="link-sublist collapse show" id="collapseFour">
            <li><a class="list-item active" href="#"><span>Link lista 1.1 (attivo)</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 1.2</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 1.3</span></a>
            </li>
          </ul>
        </li>        
        <li>
          <a class="list-item large medium right-icon active" href="#collapseFour" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            <span class="list-item-title-icon-wrapper">
              <span>Link lista 1 (selezionato)</span><svg class="icon icon-sm icon-white right" aria-hidden="true"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use></svg>
            </span>
          </a>
          <ul class="link-sublist collapse show" id="collapseFour">
            <li><a class="list-item active" href="#"><span>Link lista 1.1 (attivo)</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 1.2</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 1.3</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a class="list-item large medium right-icon active" href="#collapseFour" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            <span class="list-item-title-icon-wrapper">
              <span>Link lista 1 (selezionato)</span><svg class="icon icon-sm icon-white right" aria-hidden="true"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use></svg>
            </span>
          </a>
          <ul class="link-sublist collapse show" id="collapseFour">
            <li><a class="list-item active" href="#"><span>Link lista 1.1 (attivo)</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 1.2</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 1.3</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a class="list-item large medium right-icon" href="#collapseFive" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
          <span class="list-item-title-icon-wrapper">
              <span>Link lista 2</span><svg class="icon icon-sm icon-white right" aria-hidden="true"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use></svg>
            </span>
          </a>
          <ul class="link-sublist collapse" id="collapseFive">
            <li><a class="list-item" href="#"><span>Link lista 2.1</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 2.2</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 2.3</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a class="list-item large medium right-icon" href="#collapseSix" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
            <span class="list-item-title-icon-wrapper">
              <span>Link lista 3</span><svg class="icon icon-sm icon-white right" aria-hidden="true"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use></svg>
            </span>
          </a>
          <ul class="link-sublist collapse" id="collapseSix">
            <li><a class="list-item" href="#"><span>Link lista 3.1</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 3.2</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 3.3</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar-linklist-wrapper linklist-secondary">
    <div class="link-list-wrapper">
      <ul class="link-list">
        <li><a class="list-item" href="#"><span>Link secondario 1</span></a>
        </li>
        <li><a class="list-item active" href="#"><span>Link secondario 2 (attivo)</span></a>
        </li>
        <li><a class="list-item disabled" href="#"><span>Link secondario 3 (disabilitato)</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
    </div>
  </div>
</div>











<script src="https://cdn.jsdelivr.net/npm/bootstrap-italia@2.13.3/dist/js/bootstrap-italia.min.js"></script>
