<header class="it-header-wrapper">
  <div class="it-header-slim-wrapper">
  <div class="container">
  <div class="row">
  <div class="col-12">
  <div class="it-header-slim-wrapper-content">
  <div class="nav-mobile">
       <style>
        #search-results {
            border: 1px solid #ccc;
            display: none;
            margin-top: 5px;
            padding: 10px;
        }
    </style>
  <a href="https://arenagiovani.it/" target="_blank"><b>Arena Giovani</b></a>
  
  
  </div>
  <!-- Sezione Autenticazione / Scelta Lingua -->
  <div class="header-slim-right-zone">
  <!-- multilang space -->
  
  <div class="it-access-top-wrapper">

<button type="button" class="btn btn-primary" onclick="netlifyIdentity.open()">
<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M329-490h302v-70H329v70Zm0 130h302v-70H329v70Zm0 130h182v-70H329v70ZM229-59q-35.78 0-63.39-26.91Q138-112.83 138-150v-660q0-37.59 27.61-64.79Q193.22-902 229-902h364l230 228v524q0 37.17-27.91 64.09Q767.19-59 731-59H229Zm337-590h165L566-810v161Z"/></svg>
  <span class="mr-2"><a href="https://trasparenza.18f.it/">Progetto trasparente - accesso pubblico</a></span>
                  <div class="icon-wrapper">
                </div></button>
  
  
  </div>
  </div>
  
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="it-nav-wrapper">
  <div class="it-header-center-wrapper">
  <div class="container">
  <div class="row">
  <div class="col-12">
  <div class="it-header-center-content-wrapper">
  <div class="it-brand-wrapper">
  <a href="/" title="Torna alla homepage">
  
  <h1>
  <span class="media">
  <img class="align-self-center logo_scuola" src="https://u.g.18f.it/assets/img/logo.png" alt="logo">
  
  <span class="media-body ml-2 text-truncate">
  <span class="testo_t3"><b>Gabriel Jones;</b></span>
  <span class="testo_t1"><b>Arena Giovani</b></span>
  <span class="testo_t3"><b>Uniti per il futuro</b></span>
  </span>
  
  
  </span>
  </h1>
  
  
  </a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>

  <div class="it-header-navbar-wrapper">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <!--start nav-->
          <nav class="navbar navbar-expand-lg" aria-label="Navigazione principale">
            <button class="custom-navbar-toggler" type="button" aria-controls="nav0" aria-expanded="false" aria-label="Mostra/Nascondi la navigazione" data-bs-toggle="navbarcollapsible" data-bs-target="#nav0">
              <svg class="icon bg-override"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-burger"></use></svg>
            </button>
            <div class="navbar-collapsable" id="nav0" style="display: none;">
              <div class="overlay" style="display: none;"></div>
              <div class="close-div">
                <button class="btn close-menu" type="button">
                  <span class="visually-hidden">Nascondi la navigazione</span>
                  <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-close-big"></use></svg>
                </button>
              </div>
  



  <div id="navigation-bar" class="it-header-navbar-wrapper">
  <div class="container">
  <div class="row">
  <div class="col-12">
  <nav class="navbar navbar-expand-lg has-megamenu" aria-label="Menu principale">
              <div class="menu-wrapper">
                <ul class="navbar-nav">
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/aree-amministrative/uffici/cultura/"><span><b>Cultura</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/aree-amministrative/uffici/pariopportunita/"><span><b>Integrazione sociale e uguaglianza</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/aree-amministrative/uffici/sport/"><span><b>Sport</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/organi/soci/"><span><b>Soci</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/organi/"><span><b>Organi</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/sulprogetto/"><span><b>Sul Progetto</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/aree-amministrative/uffici/"><span><b>Uffici</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/aree-amministrative/"><span><b>Aree</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/aree-amministrative/uffici/associazioni"><span><b>Associazioni</b></span></a></li>
  
                  <li class="nav-item"><a class="nav-link" href="https://comune.arenagiovani.it/aree-amministrative/uffici/cultura/biblioteca/"><span><b>Biblioteca</b></span></a></li>
                </ul>
              </div>
  
  </nav>
  </div>
  </div>
  </div>
  </div>
  
  
                
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
  
  
      
  </div></header>







<div class="modal fade" id="access-modal" tabindex="-1" role="dialog" aria-labelledby="accessModal" aria-hidden="false">
  <div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content perfect-scrollbar ps-container ps-theme-default" data-ps-id="38e2ecb0-43ab-3c74-f1b1-557dd702a6c4">
<div class="sidebar-wrapper theme-dark">
  <h3>Header</h3>
  <div class="sidebar-linklist-wrapper">
    <div class="link-list-wrapper">
      <ul class="link-list">        
        <li>
          <a class="list-item large medium right-icon active" href="#collapseFour" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            <span class="list-item-title-icon-wrapper">
              <span>Link lista 1 (selezionato)</span><svg class="icon icon-sm icon-white right" aria-hidden="true"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use></svg>
            </span>
          </a>
          <ul class="link-sublist collapse show" id="collapseFour">
            <li><a class="list-item active" href="#"><span>Link lista 1.1 (attivo)</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 1.2</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 1.3</span></a>
            </li>
          </ul>
        </li>        
        <li>
          <a class="list-item large medium right-icon active" href="#collapseFour" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            <span class="list-item-title-icon-wrapper">
              <span>Link lista 1 (selezionato)</span><svg class="icon icon-sm icon-white right" aria-hidden="true"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use></svg>
            </span>
          </a>
          <ul class="link-sublist collapse show" id="collapseFour">
            <li><a class="list-item active" href="#"><span>Link lista 1.1 (attivo)</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 1.2</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 1.3</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a class="list-item large medium right-icon active" href="#collapseFour" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            <span class="list-item-title-icon-wrapper">
              <span>Link lista 1 (selezionato)</span><svg class="icon icon-sm icon-white right" aria-hidden="true"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use></svg>
            </span>
          </a>
          <ul class="link-sublist collapse show" id="collapseFour">
            <li><a class="list-item active" href="#"><span>Link lista 1.1 (attivo)</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 1.2</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 1.3</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a class="list-item large medium right-icon" href="#collapseFive" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
          <span class="list-item-title-icon-wrapper">
              <span>Link lista 2</span><svg class="icon icon-sm icon-white right" aria-hidden="true"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use></svg>
            </span>
          </a>
          <ul class="link-sublist collapse" id="collapseFive">
            <li><a class="list-item" href="#"><span>Link lista 2.1</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 2.2</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 2.3</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a class="list-item large medium right-icon" href="#collapseSix" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
            <span class="list-item-title-icon-wrapper">
              <span>Link lista 3</span><svg class="icon icon-sm icon-white right" aria-hidden="true"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use></svg>
            </span>
          </a>
          <ul class="link-sublist collapse" id="collapseSix">
            <li><a class="list-item" href="#"><span>Link lista 3.1</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 3.2</span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link lista 3.3</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar-linklist-wrapper linklist-secondary">
    <div class="link-list-wrapper">
      <ul class="link-list">
        <li><a class="list-item" href="#"><span>Link secondario 1</span></a>
        </li>
        <li><a class="list-item active" href="#"><span>Link secondario 2 (attivo)</span></a>
        </li>
        <li><a class="list-item disabled" href="#"><span>Link secondario 3 (disabilitato)</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-italia@2.13.3/dist/js/bootstrap-italia.min.js"></script>
