<!doctype html>
<html lang="{{ page.lang }}">
<head>
  {% include styles.html %}
</head>
<body>
  {%- include header/header.html -%}
<script src="/search.js"></script>
<div id="private-content" style="display: none;">
  <h1>Benvenuto utente autenticato!</h1>
  <p>Solo gli utenti loggati possono vedere questo contenuto.</p>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.netlifyIdentity.on("init", (user) => {
      if (user) {
        document.getElementById("private-content").style.display = "block";
      }
    });
  });
</script>
</body>
</html>
