<!doctype html>
<html lang="{{ page.lang }}">
<head>
  {% include styles.html %}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  {%- include header/header.html -%}
<script src="/search.js"></script>
<div id="private-content" style="display: none;">
  <h1>Benvenuto utente autenticato!</h1>
  <p>Solo gli utenti loggati possono vedere questo contenuto.</p>
</div>
<button onclick="netlifyIdentity.open()">Login</button>
<button onclick="netlifyIdentity.logout()">Logout</button>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.netlifyIdentity.on("init", (user) => {
      if (user) {
        document.getElementById("private-content").style.display = "block";
      }
    });
  });
</script>
</body>
</html>
